body {
  font-family: 'Courier New', Courier, monospace;
}
.sidebar  {
  background-color: white;
  color: rgb(62, 129, 128);
  width: 256px;
  padding: 20px;
  margin-right: 5px;
  margin-top: 5px;
  float: left;
}

ul, ol {
  padding-left: 5px;
}

.column  {
  background-color: white;
  width: 286px;
  margin: 5px;
}

.tile {
  width: 256px;
  height: 256px;
  margin-bottom: 42px;
  background-color: yellow;
  float: right;
}

#title {
  font-weight: 900;
  font-size: 40px;
}

#subtitle {
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 20px;
}

#byline {
  font-weight: 700;
  font-size: 15px;
}

.subHead {
font-weight: bold;
text-transform: uppercase;
}

.subHead li {
  font-weight: 500;
  text-transform: none;
}

.hobbies {
  font-weight: bolder;
}