body {
  font-family: 'Courier New', Courier, monospace;
}
.sidebar  {
  background-color: white;
  color:#4B9E9C;
  border-color:white;
  border-style: dashed;
  border-width: 1px;
  width: 256px;
  padding: 10px;
  margin-right: 5px;
  margin-top: 5px;
}

.column  {
  background-color: rgb(252, 252, 0);
  color: blue;
  border-color: rgb(252, 1, 1);
  border-style: dashed;
  border-width: 1px;
  min-width: 256px;
  max-width: 300px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.buffer {
  background-color: brown;
  margin: 10px;
}
