body {
  font-family: 'Courier New', Courier, monospace;
}
.sidebar  {
  background-color: white;
  color: black;
  width: 256px;
  padding: 20px;
  margin-right: 5px;
  margin-top: 5px;
}

.column  {
  background-color: white;
  /*border-color: black;
  border-style: dashed;
  border-width: 1px;*/
  width: 286px;
  margin: 5px;
  text-align: center;
}

.tile {
  /*border-color:red;
  border-style: dashed;
  border-width: 1px;*/
  width: 256px;
  height: 256px;
  margin-bottom: 42px;
  background-color: yellow;
}

#title {
  font-weight: 900;
  font-size: 25px;
}

#subtitle {
  text-transform: capitalize;
  font-weight: bold;
}

#byline {

}

#aboutMeHead {
font-weight: bold;
text-transform: capitalize;
}

#aboutMeBody {

}